@font-face {
    font-family: "Apfel-Brukt";
    src: url("../assets/ApfelGrotezk-Brukt.woff2") format("woff2"),
         url("../assets/ApfelGrotezk-Brukt.woff") format("woff");
}

html {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
    font-size: 14px;
    text-transform: lowercase;
    margin: 0;
    padding: 0;
    background-color: #020322;
    color: #F7DBC3;
    line-height: 1.5em;
    width: 100%;
}

html a {
    color: #A8FF00;
    font-weight: 400;
    text-decoration-line: underline;
    text-decoration-style: wavy;
}

html a:hover {
    font-style: italic;
}

body {
    margin: 0;
    padding: 0;
}

body, #header, #footer {
}

.wrapper {
    position: relative;
    margin: 1em;
    border: 1px dashed #A8FF00;
}

#header, #footer {
    margin: .75em 1em;
    text-align: right;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Apfel-Brukt', sans-serif;
    color: #A8FF00;
}

#about {
    padding: 1em;
    width: 50%;
}

#projects {
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1em;
}

.project {
    display: grid;
    border: 1px dashed #A8FF00;
    padding: 1em;
}